
@tailwind base;
@tailwind components;
@tailwind utilities;


.turn.selected {
    background-color: #09f;
    outline-color: white;
}

.turn.winner {
    background-color: greenyellow;
    outline-color: white;
    color: black;
}

.reset.visible {
    visibility: visible;
}

.reset {
    visibility: hidden;
}